.cardContainer{
    width: 400px;
    height: 200px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 3rem;
    box-sizing: border-box;
    gap: 1rem;
 }
 
 
 .titleText{
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 0;
    margin: 0;
 }
 
 
 
 
 .subTitleText{
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 0;
    margin: 0;
 }
 
 